***Objective***

The objective of this competition is to create a machine learning model to predict which individuals are most likely to have or use a bank account. The models and solutions developed can provide an indication of the state of financial inclusion in Kenya, Rwanda, Tanzania and Uganda, while providing insights into some of the key demographic factors that might drive individualsâ€™ financial outcomes.

In [1]:
#load libraries
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder  
from sklearn.preprocessing import StandardScaler  
from scipy import sparse
from catboost import CatBoostClassifier, Pool
import lightgbm as lgb
import xgboost as xgb
from math import sqrt
from sklearn.metrics import mean_squared_error
from scipy.stats import uniform, randint
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import TimeSeriesSplit, cross_val_score, GridSearchCV, RandomizedSearchCV
import random

/Users/edima/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [14]:
#load data
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample_submission = pd.read_csv("sample_submission.csv")
description_data = pd.read_csv("VariableDescription.csv")

In [5]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [6]:
test.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government
1,Kenya,2018,uniqueid_6060,Urban,Yes,7,51,Male,Head of Household,Married/Living together,Vocational/Specialised training,Formally employed Private
2,Kenya,2018,uniqueid_6065,Rural,No,3,77,Female,Parent,Married/Living together,No formal education,Remittance Dependent
3,Kenya,2018,uniqueid_6072,Rural,No,6,39,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent
4,Kenya,2018,uniqueid_6073,Urban,No,3,16,Male,Child,Single/Never Married,Secondary education,Remittance Dependent

In [7]:
sample_submission.head()

                uniqueid  bank_account
0  uniqueid_7867 x Kenya           1.0
1  uniqueid_6722 x Kenya           0.0
2  uniqueid_6714 x Kenya           1.0
3  uniqueid_8103 x Kenya           1.0
4  uniqueid_8657 x Kenya           1.0

In [8]:
description_data.head()

  Variable Definitions                                         Unnamed: 1
0              country                         Country interviewee is in.
1                 year                           Year survey was done in.
2             uniqueid             Unique identifier for each interviewee
3        location_type                     Type of location: Rural, Urban
4     cellphone_access  If interviewee has access to a cellphone: Yes, No

In [9]:
train.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [15]:
#uniqueid + " x " + country name
train['uniqueid'] = train['uniqueid'] + " x " + train['country']
test['uniqueid'] = test['uniqueid'] + " x " + test['country']

In [16]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1 x Kenya,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2 x Kenya,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3 x Kenya,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4 x Kenya,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5 x Kenya,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [ ]:
#non categorical = age_of_respondent

In [18]:
test_uniqueid = test['uniqueid']
test_uniqueid.reset_index(drop=True, inplace=True)

In [25]:
train = train[['country','year','bank_account','location_type','cellphone_access','household_size',
               'age_of_respondent','gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']]

In [26]:
test = test[['country','year','location_type','cellphone_access','household_size',
               'age_of_respondent','gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']]

In [27]:
train_categorical = ['country','year','location_type','cellphone_access','household_size',
               'gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']
test_categorical = ['country','year','location_type','cellphone_access','household_size',
               'gender_of_respondent','relationship_with_head','marital_status',
               'education_level','job_type']

In [42]:
train["bank_account"] = train["bank_account"].astype('category')
train["bank_account"] = train["bank_account"].cat.codes

In [43]:
train.head()

,country,year,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,1,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,0,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,1,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,0,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,0,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [44]:
#Catboost
#split training data set
X_train1 = train.drop(['bank_account'], axis=1)
y_train1 = train.bank_account

#split test dataset
X_test1 = test
#y_test1 = df_test_cat.YIELD

def column_index(df, query_cols):
    cols = df.columns.values
    sidx = np.argsort(cols)
    return sidx[np.searchsorted(cols, query_cols, sorter=sidx)]

categorical_features_indices = column_index(X_train1, train_categorical)
categorical_features_indices1 = column_index(X_test1, test_categorical)

In [47]:
from catboost import CatBoostClassifier
from sklearn import metrics
#import cb as catboost

#def auc(m, train): 
#    return (metrics.roc_auc_score(y_train1,m.predict_proba(y_train)[:,1])#,
    #metrics.roc_auc_score(y_test,m.predict_proba(test)[:,1]))

params = {'depth': [4, 7, 10],
          'learning_rate' : [0.03, 0.1, 0.15],
         'l2_leaf_reg': [1,4,9],
         'iterations': [300]}

cb = CatBoostClassifier()
cb_model = GridSearchCV(cb, params, scoring="roc_auc", cv = 3)
#cb_model.fit(X_train1, y_train1)

#Without Categorical features
#clf = cb.CatBoostClassifier(eval_metric="AUC", depth=10, iterations= 500, l2_leaf_reg= 9, learning_rate= 0.15)
#clf.fit(X_train1,y_train1)
#auc(clf, train, test)

#With Categorical features
clf = CatBoostClassifier(eval_metric="AUC",one_hot_max_size=31, depth=10, iterations= 500, l2_leaf_reg= 9, learning_rate= 0.15)
clf.fit(X_train1,y_train1, cat_features= categorical_features_indices)
#auc(clf, X_train1, y_train1)

0:	total: 52.7ms	remaining: 26.3s
1:	total: 297ms	remaining: 1m 14s
2:	total: 527ms	remaining: 1m 27s
3:	total: 617ms	remaining: 1m 16s
4:	total: 661ms	remaining: 1m 5s
5:	total: 904ms	remaining: 1m 14s
6:	total: 1.14s	remaining: 1m 20s
7:	total: 1.37s	remaining: 1m 24s
8:	total: 1.58s	remaining: 1m 26s
9:	total: 1.62s	remaining: 1m 19s
10:	total: 1.76s	remaining: 1m 18s
11:	total: 1.91s	remaining: 1m 17s
12:	total: 2.14s	remaining: 1m 20s
13:	total: 2.28s	remaining: 1m 19s
14:	total: 2.33s	remaining: 1m 15s
15:	total: 2.4s	remaining: 1m 12s
16:	total: 2.46s	remaining: 1m 9s
17:	total: 2.53s	remaining: 1m 7s
18:	total: 2.68s	remaining: 1m 7s
19:	total: 2.76s	remaining: 1m 6s
20:	total: 2.8s	remaining: 1m 3s
21:	total: 2.85s	remaining: 1m 1s
22:	total: 2.9s	remaining: 1m
23:	total: 2.96s	remaining: 58.7s
24:	total: 3s	remaining: 57s
25:	total: 3.22s	remaining: 58.8s
26:	total: 3.26s	remaining: 57.2s
27:	total: 3.35s	remaining: 56.4s
28:	total: 3.38s	remaining: 54.9s
29:	total: 3.61s	remaining: 56.6s
30:	total: 3.65s	remaining: 55.3s
31:	total: 3.76s	remaining: 55s
32:	total: 3.92s	remaining: 55.4s
33:	total: 3.96s	remaining: 54.3s
34:	total: 4.01s	remaining: 53.3s
35:	total: 4.07s	remaining: 52.4s
36:	total: 4.11s	remaining: 51.4s
37:	total: 4.17s	remaining: 50.7s
38:	total: 4.21s	remaining: 49.7s
39:	total: 4.25s	remaining: 48.9s
40:	total: 4.33s	remaining: 48.5s
41:	total: 4.38s	remaining: 47.8s
42:	total: 4.43s	remaining: 47.1s
43:	total: 4.46s	remaining: 46.2s
44:	total: 4.69s	remaining: 47.4s
45:	total: 4.72s	remaining: 46.6s
46:	total: 4.78s	remaining: 46.1s
47:	total: 4.81s	remaining: 45.3s
48:	total: 4.84s	remaining: 44.6s
49:	total: 4.89s	remaining: 44s
50:	total: 4.94s	remaining: 43.5s
51:	total: 5.17s	remaining: 44.5s
52:	total: 5.21s	remaining: 43.9s
53:	total: 5.23s	remaining: 43.2s
54:	total: 5.27s	remaining: 42.7s
55:	total: 5.32s	remaining: 42.2s
56:	total: 5.38s	remaining: 41.8s
57:	total: 5.43s	remaining: 41.4s
58:	total: 5.49s	remaining: 41s
59:	total: 5.57s	remaining: 40.9s
60:	total: 5.62s	remaining: 40.5s
61:	total: 5.66s	remaining: 40s
62:	total: 5.7s	remaining: 39.5s
63:	total: 5.74s	remaining: 39.1s
64:	total: 5.78s	remaining: 38.7s
65:	total: 5.81s	remaining: 38.2s
66:	total: 5.87s	remaining: 38s
67:	total: 5.9s	remaining: 37.5s
68:	total: 5.94s	remaining: 37.1s
69:	total: 5.96s	remaining: 36.6s
70:	total: 5.99s	remaining: 36.2s
71:	total: 6.02s	remaining: 35.8s
72:	total: 6.05s	remaining: 35.4s
73:	total: 6.12s	remaining: 35.2s
74:	total: 6.31s	remaining: 35.8s
75:	total: 6.36s	remaining: 35.5s
76:	total: 6.41s	remaining: 35.2s
77:	total: 6.43s	remaining: 34.8s
78:	total: 6.46s	remaining: 34.4s
79:	total: 6.49s	remaining: 34.1s
80:	total: 6.71s	remaining: 34.7s
81:	total: 6.75s	remaining: 34.4s
82:	total: 6.98s	remaining: 35.1s
83:	total: 7.01s	remaining: 34.7s
84:	total: 7.15s	remaining: 34.9s
85:	total: 7.18s	remaining: 34.6s
86:	total: 7.23s	remaining: 34.3s
87:	total: 7.31s	remaining: 34.2s
88:	total: 7.53s	remaining: 34.8s
89:	total: 7.72s	remaining: 35.2s
90:	total: 7.77s	remaining: 34.9s
91:	total: 7.98s	remaining: 35.4s
92:	total: 8.04s	remaining: 35.2s
93:	total: 8.25s	remaining: 35.6s
94:	total: 8.39s	remaining: 35.8s
95:	total: 8.42s	remaining: 35.4s
96:	total: 8.64s	remaining: 35.9s
97:	total: 8.67s	remaining: 35.6s
98:	total: 8.9s	remaining: 36s
99:	total: 8.93s	remaining: 35.7s
100:	total: 9.15s	remaining: 36.1s
101:	total: 9.36s	remaining: 36.5s
102:	total: 9.59s	remaining: 37s
103:	total: 9.63s	remaining: 36.7s
104:	total: 9.77s	remaining: 36.8s
105:	total: 10s	remaining: 37.2s
106:	total: 10.1s	remaining: 37.3s
107:	total: 10.2s	remaining: 37s
108:	total: 10.4s	remaining: 37.4s
109:	total: 10.6s	remaining: 37.7s
110:	total: 10.8s	remaining: 37.8s
111:	total: 11s	remaining: 38.1s
112:	total: 11s	remaining: 37.8s
113:	total: 11.2s	remaining: 38.1s
114:	total: 11.3s	remaining: 37.7s
115:	total: 11.5s	remaining: 38s
116:	total: 11.7s	remaining: 38.2s
117:	total: 11.9s	remaining: 38.4s
118:	total: 11.9s	remaining: 38.1s
119:	total: 12.1s	remaining: 38.3s
120:	total: 12.1s	remaining: 38s
121:	total: 12.2s	remaining: 37.7s
122:	total: 12.4s	remaining: 38s
123:	total: 12.4s	remaining: 37.7s
124:	total: 12.5s	remaining: 37.5s
125:	total: 12.6s	remaining: 37.3s
126:	total: 12.7s	remaining: 37.3s
127:	total: 13s	remaining: 37.7s
128:	total: 13.2s	remaining: 38s
129:	total: 13.4s	remaining: 38.3s
130:	total: 13.8s	remaining: 38.8s
131:	total: 13.8s	remaining: 38.6s
132:	total: 13.9s	remaining: 38.3s
133:	total: 14s	remaining: 38.2s
134:	total: 14.1s	remaining: 38s
135:	total: 14.1s	remaining: 37.7s
136:	total: 14.2s	remaining: 37.5s
137:	total: 14.5s	remaining: 38s
138:	total: 14.5s	remaining: 37.7s
139:	total: 14.7s	remaining: 37.9s
140:	total: 15.2s	remaining: 38.6s
141:	total: 15.2s	remaining: 38.4s
142:	total: 15.5s	remaining: 38.6s
143:	total: 15.7s	remaining: 38.8s
144:	total: 16s	remaining: 39.1s
145:	total: 16.2s	remaining: 39.3s
146:	total: 16.4s	remaining: 39.4s
147:	total: 16.6s	remaining: 39.5s
148:	total: 16.8s	remaining: 39.7s
149:	total: 17.1s	remaining: 39.8s
150:	total: 17.1s	remaining: 39.5s
151:	total: 17.3s	remaining: 39.6s
152:	total: 17.3s	remaining: 39.3s
153:	total: 17.6s	remaining: 39.5s
154:	total: 17.8s	remaining: 39.5s
155:	total: 18s	remaining: 39.6s
156:	total: 18.2s	remaining: 39.7s
157:	total: 18.4s	remaining: 39.8s
158:	total: 18.6s	remaining: 39.9s
159:	total: 18.8s	remaining: 40s
160:	total: 19s	remaining: 40.1s
161:	total: 19.1s	remaining: 39.9s
162:	total: 19.3s	remaining: 40s
163:	total: 19.5s	remaining: 40s
164:	total: 19.7s	remaining: 40.1s
165:	total: 20s	remaining: 40.2s
166:	total: 20.2s	remaining: 40.2s
167:	total: 20.2s	remaining: 40s
168:	total: 20.3s	remaining: 39.7s
169:	total: 20.5s	remaining: 39.7s
170:	total: 20.5s	remaining: 39.4s
171:	total: 20.6s	remaining: 39.2s
172:	total: 20.6s	remaining: 39s
173:	total: 20.7s	remaining: 38.8s
174:	total: 20.7s	remaining: 38.5s
175:	total: 20.8s	remaining: 38.3s
176:	total: 21s	remaining: 38.3s
177:	total: 21.2s	remaining: 38.3s
178:	total: 21.4s	remaining: 38.4s
179:	total: 21.6s	remaining: 38.4s
180:	total: 21.7s	remaining: 38.2s
181:	total: 21.9s	remaining: 38.2s
182:	total: 22.1s	remaining: 38.2s
183:	total: 22.1s	remaining: 38s
184:	total: 22.2s	remaining: 37.7s
185:	total: 22.2s	remaining: 37.5s
186:	total: 22.4s	remaining: 37.5s
187:	total: 22.6s	remaining: 37.5s
188:	total: 22.8s	remaining: 37.6s
189:	total: 23s	remaining: 37.6s
190:	total: 23.3s	remaining: 37.6s
191:	total: 23.5s	remaining: 37.7s
192:	total: 23.8s	remaining: 37.8s
193:	total: 23.9s	remaining: 37.7s
194:	total: 24.1s	remaining: 37.7s
195:	total: 24.3s	remaining: 37.7s
196:	total: 24.5s	remaining: 37.7s
197:	total: 24.7s	remaining: 37.6s
198:	total: 24.9s	remaining: 37.6s
199:	total: 25s	remaining: 37.5s
200:	total: 25.2s	remaining: 37.5s
201:	total: 25.5s	remaining: 37.6s
202:	total: 25.7s	remaining: 37.6s
203:	total: 25.9s	remaining: 37.6s
204:	total: 26.2s	remaining: 37.6s
205:	total: 26.4s	remaining: 37.6s
206:	total: 26.6s	remaining: 37.6s
207:	total: 26.8s	remaining: 37.6s
208:	total: 27s	remaining: 37.7s
209:	total: 27.2s	remaining: 37.6s
210:	total: 27.3s	remaining: 37.4s
211:	total: 27.4s	remaining: 37.2s
212:	total: 27.6s	remaining: 37.2s
213:	total: 27.8s	remaining: 37.1s
214:	total: 28s	remaining: 37.1s
215:	total: 28.1s	remaining: 36.9s
216:	total: 28.3s	remaining: 37s
217:	total: 28.6s	remaining: 36.9s
218:	total: 28.8s	remaining: 37s
219:	total: 29s	remaining: 37s
220:	total: 29.2s	remaining: 36.8s
221:	total: 29.4s	remaining: 36.8s
222:	total: 29.6s	remaining: 36.7s
223:	total: 29.8s	remaining: 36.7s
224:	total: 30s	remaining: 36.7s
225:	total: 30.2s	remaining: 36.7s
226:	total: 30.5s	remaining: 36.6s
227:	total: 30.5s	remaining: 36.4s
228:	total: 30.7s	remaining: 36.4s
229:	total: 31s	remaining: 36.3s
230:	total: 31.2s	remaining: 36.3s
231:	total: 31.4s	remaining: 36.3s
232:	total: 31.6s	remaining: 36.2s
233:	total: 31.6s	remaining: 36s
234:	total: 31.7s	remaining: 35.8s
235:	total: 31.9s	remaining: 35.7s
236:	total: 32.3s	remaining: 35.8s
237:	total: 32.4s	remaining: 35.6s
238:	total: 32.6s	remaining: 35.6s
239:	total: 32.7s	remaining: 35.4s

240:	total: 33s	remaining: 35.5s
241:	total: 33.4s	remaining: 35.6s
242:	total: 33.6s	remaining: 35.5s
243:	total: 34s	remaining: 35.7s
244:	total: 34.2s	remaining: 35.6s
245:	total: 34.6s	remaining: 35.7s
246:	total: 34.9s	remaining: 35.7s
247:	total: 34.9s	remaining: 35.5s
248:	total: 35.2s	remaining: 35.5s
249:	total: 35.3s	remaining: 35.3s
250:	total: 35.6s	remaining: 35.3s
251:	total: 35.6s	remaining: 35.1s
252:	total: 35.9s	remaining: 35.1s
253:	total: 36.1s	remaining: 35s
254:	total: 36.4s	remaining: 34.9s
255:	total: 36.6s	remaining: 34.9s
256:	total: 36.8s	remaining: 34.8s
257:	total: 37.1s	remaining: 34.8s
258:	total: 37.4s	remaining: 34.8s
259:	total: 37.6s	remaining: 34.7s
260:	total: 37.9s	remaining: 34.7s
261:	total: 38.1s	remaining: 34.7s
262:	total: 38.4s	remaining: 34.6s
263:	total: 38.5s	remaining: 34.4s
264:	total: 38.8s	remaining: 34.4s
265:	total: 39s	remaining: 34.3s
266:	total: 39.1s	remaining: 34.1s
267:	total: 39.3s	remaining: 34.1s
268:	total: 39.6s	remaining: 34s
269:	total: 39.8s	remaining: 33.9s
270:	total: 40s	remaining: 33.8s
271:	total: 40.2s	remaining: 33.7s
272:	total: 40.3s	remaining: 33.5s
273:	total: 40.4s	remaining: 33.3s
274:	total: 40.6s	remaining: 33.2s
275:	total: 40.8s	remaining: 33.1s
276:	total: 40.9s	remaining: 32.9s
277:	total: 41.1s	remaining: 32.8s
278:	total: 41.1s	remaining: 32.5s
279:	total: 41.2s	remaining: 32.3s
280:	total: 41.4s	remaining: 32.3s
281:	total: 41.6s	remaining: 32.2s
282:	total: 41.7s	remaining: 32s
283:	total: 41.7s	remaining: 31.7s
284:	total: 41.9s	remaining: 31.6s
285:	total: 42.2s	remaining: 31.6s
286:	total: 42.4s	remaining: 31.5s
287:	total: 42.7s	remaining: 31.4s
288:	total: 42.9s	remaining: 31.3s
289:	total: 43.2s	remaining: 31.3s
290:	total: 43.4s	remaining: 31.2s
291:	total: 43.6s	remaining: 31.1s
292:	total: 43.8s	remaining: 30.9s
293:	total: 44s	remaining: 30.8s
294:	total: 44.3s	remaining: 30.8s
295:	total: 44.4s	remaining: 30.6s
296:	total: 44.7s	remaining: 30.5s
297:	total: 45s	remaining: 30.5s
298:	total: 45.2s	remaining: 30.4s
299:	total: 45.4s	remaining: 30.2s
300:	total: 45.6s	remaining: 30.2s
301:	total: 45.9s	remaining: 30.1s
302:	total: 46.2s	remaining: 30s
303:	total: 46.5s	remaining: 30s
304:	total: 46.8s	remaining: 29.9s
305:	total: 47.1s	remaining: 29.9s
306:	total: 47.4s	remaining: 29.8s
307:	total: 47.8s	remaining: 29.8s
308:	total: 48s	remaining: 29.7s
309:	total: 48.1s	remaining: 29.5s
310:	total: 48.2s	remaining: 29.3s
311:	total: 48.3s	remaining: 29.1s
312:	total: 48.5s	remaining: 29s
313:	total: 48.8s	remaining: 28.9s
314:	total: 49s	remaining: 28.8s
315:	total: 49.2s	remaining: 28.7s
316:	total: 49.4s	remaining: 28.5s
317:	total: 49.7s	remaining: 28.4s
318:	total: 49.8s	remaining: 28.3s
319:	total: 50.1s	remaining: 28.2s
320:	total: 50.3s	remaining: 28.1s
321:	total: 50.6s	remaining: 28s
322:	total: 50.8s	remaining: 27.9s
323:	total: 51.1s	remaining: 27.7s
324:	total: 51.1s	remaining: 27.5s
325:	total: 51.4s	remaining: 27.4s
326:	total: 51.6s	remaining: 27.3s
327:	total: 51.9s	remaining: 27.2s
328:	total: 52.1s	remaining: 27.1s
329:	total: 52.3s	remaining: 26.9s
330:	total: 52.4s	remaining: 26.8s
331:	total: 52.7s	remaining: 26.6s
332:	total: 52.7s	remaining: 26.4s
333:	total: 52.9s	remaining: 26.3s
334:	total: 53.2s	remaining: 26.2s
335:	total: 53.4s	remaining: 26s
336:	total: 53.5s	remaining: 25.9s
337:	total: 53.8s	remaining: 25.8s
338:	total: 54s	remaining: 25.6s
339:	total: 54.1s	remaining: 25.5s
340:	total: 54.3s	remaining: 25.3s
341:	total: 54.4s	remaining: 25.2s
342:	total: 54.6s	remaining: 25s
343:	total: 54.8s	remaining: 24.9s
344:	total: 55s	remaining: 24.7s
345:	total: 55.3s	remaining: 24.6s
346:	total: 55.6s	remaining: 24.5s
347:	total: 55.9s	remaining: 24.4s
348:	total: 56.2s	remaining: 24.3s
349:	total: 56.5s	remaining: 24.2s
350:	total: 56.7s	remaining: 24.1s
351:	total: 56.9s	remaining: 23.9s
352:	total: 57.2s	remaining: 23.8s
353:	total: 57.4s	remaining: 23.7s
354:	total: 57.7s	remaining: 23.5s
355:	total: 57.9s	remaining: 23.4s
356:	total: 58.1s	remaining: 23.3s
357:	total: 58.2s	remaining: 23.1s
358:	total: 58.4s	remaining: 22.9s
359:	total: 58.6s	remaining: 22.8s
360:	total: 58.6s	remaining: 22.6s
361:	total: 58.6s	remaining: 22.4s
362:	total: 58.9s	remaining: 22.2s
363:	total: 59.1s	remaining: 22.1s
364:	total: 59.4s	remaining: 22s
365:	total: 59.5s	remaining: 21.8s
366:	total: 59.7s	remaining: 21.6s
367:	total: 59.9s	remaining: 21.5s
368:	total: 1m	remaining: 21.3s
369:	total: 1m	remaining: 21.2s
370:	total: 1m	remaining: 21s
371:	total: 1m	remaining: 20.9s
372:	total: 1m	remaining: 20.8s
373:	total: 1m 1s	remaining: 20.6s
374:	total: 1m 1s	remaining: 20.5s
375:	total: 1m 1s	remaining: 20.3s
376:	total: 1m 1s	remaining: 20.2s
377:	total: 1m 1s	remaining: 20s
378:	total: 1m 2s	remaining: 19.8s
379:	total: 1m 2s	remaining: 19.6s
380:	total: 1m 2s	remaining: 19.5s
381:	total: 1m 2s	remaining: 19.4s
382:	total: 1m 2s	remaining: 19.2s
383:	total: 1m 2s	remaining: 19s
384:	total: 1m 3s	remaining: 18.8s
385:	total: 1m 3s	remaining: 18.7s
386:	total: 1m 3s	remaining: 18.6s
387:	total: 1m 3s	remaining: 18.4s
388:	total: 1m 4s	remaining: 18.3s
389:	total: 1m 4s	remaining: 18.1s
390:	total: 1m 4s	remaining: 17.9s
391:	total: 1m 4s	remaining: 17.7s
392:	total: 1m 4s	remaining: 17.6s
393:	total: 1m 4s	remaining: 17.4s
394:	total: 1m 5s	remaining: 17.3s
395:	total: 1m 5s	remaining: 17.1s
396:	total: 1m 5s	remaining: 17s
397:	total: 1m 5s	remaining: 16.8s
398:	total: 1m 5s	remaining: 16.7s
399:	total: 1m 6s	remaining: 16.5s
400:	total: 1m 6s	remaining: 16.4s
401:	total: 1m 6s	remaining: 16.2s
402:	total: 1m 6s	remaining: 16s
403:	total: 1m 6s	remaining: 15.9s
404:	total: 1m 7s	remaining: 15.7s
405:	total: 1m 7s	remaining: 15.6s
406:	total: 1m 7s	remaining: 15.4s
407:	total: 1m 7s	remaining: 15.2s
408:	total: 1m 7s	remaining: 15.1s
409:	total: 1m 7s	remaining: 14.9s
410:	total: 1m 8s	remaining: 14.7s
411:	total: 1m 8s	remaining: 14.6s
412:	total: 1m 8s	remaining: 14.4s
413:	total: 1m 8s	remaining: 14.2s
414:	total: 1m 8s	remaining: 14.1s
415:	total: 1m 8s	remaining: 13.9s
416:	total: 1m 9s	remaining: 13.8s
417:	total: 1m 9s	remaining: 13.6s
418:	total: 1m 9s	remaining: 13.4s
419:	total: 1m 9s	remaining: 13.3s
420:	total: 1m 10s	remaining: 13.1s
421:	total: 1m 10s	remaining: 13s
422:	total: 1m 10s	remaining: 12.8s
423:	total: 1m 10s	remaining: 12.7s
424:	total: 1m 10s	remaining: 12.5s
425:	total: 1m 11s	remaining: 12.3s
426:	total: 1m 11s	remaining: 12.2s
427:	total: 1m 11s	remaining: 12s
428:	total: 1m 11s	remaining: 11.8s
429:	total: 1m 11s	remaining: 11.7s
430:	total: 1m 12s	remaining: 11.5s
431:	total: 1m 12s	remaining: 11.4s
432:	total: 1m 12s	remaining: 11.2s
433:	total: 1m 12s	remaining: 11s
434:	total: 1m 12s	remaining: 10.9s
435:	total: 1m 12s	remaining: 10.7s
436:	total: 1m 13s	remaining: 10.5s
437:	total: 1m 13s	remaining: 10.4s
438:	total: 1m 13s	remaining: 10.2s
439:	total: 1m 13s	remaining: 10s
440:	total: 1m 13s	remaining: 9.85s
441:	total: 1m 13s	remaining: 9.69s
442:	total: 1m 14s	remaining: 9.53s
443:	total: 1m 14s	remaining: 9.35s
444:	total: 1m 14s	remaining: 9.19s
445:	total: 1m 14s	remaining: 9.03s
446:	total: 1m 14s	remaining: 8.86s
447:	total: 1m 14s	remaining: 8.68s
448:	total: 1m 15s	remaining: 8.52s
449:	total: 1m 15s	remaining: 8.36s
450:	total: 1m 15s	remaining: 8.19s
451:	total: 1m 15s	remaining: 8.03s
452:	total: 1m 15s	remaining: 7.86s
453:	total: 1m 16s	remaining: 7.7s
454:	total: 1m 16s	remaining: 7.54s
455:	total: 1m 16s	remaining: 7.37s
456:	total: 1m 16s	remaining: 7.2s
457:	total: 1m 16s	remaining: 7.03s
458:	total: 1m 16s	remaining: 6.86s
459:	total: 1m 16s	remaining: 6.69s
460:	total: 1m 17s	remaining: 6.53s
461:	total: 1m 17s	remaining: 6.36s
462:	total: 1m 17s	remaining: 6.2s
463:	total: 1m 17s	remaining: 6.03s
464:	total: 1m 17s	remaining: 5.87s
465:	total: 1m 18s	remaining: 5.69s
466:	total: 1m 18s	remaining: 5.53s
467:	total: 1m 18s	remaining: 5.36s
468:	total: 1m 18s	remaining: 5.2s
469:	total: 1m 18s	remaining: 5.03s
470:	total: 1m 18s	remaining: 4.86s
471:	total: 1m 19s	remaining: 4.69s
472:	total: 1m 19s	remaining: 4.53s
473:	total: 1m 19s	remaining: 4.36s
474:	total: 1m 19s	remaining: 4.19s

475:	total: 1m 19s	remaining: 4.03s
476:	total: 1m 20s	remaining: 3.86s
477:	total: 1m 20s	remaining: 3.69s
478:	total: 1m 20s	remaining: 3.53s
479:	total: 1m 20s	remaining: 3.36s
480:	total: 1m 20s	remaining: 3.19s
481:	total: 1m 21s	remaining: 3.03s
482:	total: 1m 21s	remaining: 2.86s
483:	total: 1m 21s	remaining: 2.69s
484:	total: 1m 21s	remaining: 2.52s
485:	total: 1m 21s	remaining: 2.35s
486:	total: 1m 22s	remaining: 2.19s
487:	total: 1m 22s	remaining: 2.02s
488:	total: 1m 22s	remaining: 1.85s
489:	total: 1m 22s	remaining: 1.68s
490:	total: 1m 22s	remaining: 1.51s
491:	total: 1m 22s	remaining: 1.34s
492:	total: 1m 22s	remaining: 1.18s
493:	total: 1m 23s	remaining: 1.01s
494:	total: 1m 23s	remaining: 840ms
495:	total: 1m 23s	remaining: 672ms
496:	total: 1m 23s	remaining: 503ms
497:	total: 1m 23s	remaining: 335ms
498:	total: 1m 23s	remaining: 167ms
499:	total: 1m 23s	remaining: 0us

In [56]:
y_pred_cat = clf.predict(X_test1)

In [52]:
#light gbm
df_train1 = train
df_test1 = test

In [53]:
label_encoder = preprocessing.LabelEncoder()
for col in train_categorical:
    df_train1[col] = label_encoder.fit_transform(df_train1[col].astype(str))
for col in test_categorical:
    df_test1[col] = label_encoder.fit_transform(df_test1[col].astype(str))

#split training data set
X_train3 = df_train1.drop(['bank_account'], axis=1)
y_train3 = df_train1.bank_account

#split test dataset
X_test3 = test

In [54]:
import lightgbm as lgb
from sklearn import metrics

#def auc2(m, train, test): 
#    return (metrics.roc_auc_score(y_train,m.predict(train)),
#                            metrics.roc_auc_score(y_test,m.predict(test)))

lg = lgb.LGBMClassifier(silent=False)
param_dist = {"max_depth": [25,50, 75],
              "learning_rate" : [0.01,0.05,0.1],
              "num_leaves": [300,900,1200],
              "n_estimators": [200]
             }
grid_search = GridSearchCV(lg, n_jobs=-1, param_grid=param_dist, cv = 3, scoring="roc_auc", verbose=5)
grid_search.fit(X_train3,y_train3)
grid_search.best_estimator_

d_train = lgb.Dataset(X_train3, label=y_train3)
params = {"max_depth": 50, "learning_rate" : 0.01, "num_leaves": 900,  "n_estimators": 300}

# Without Categorical Features
#model2 = lgb.train(params, d_train)
#auc2(model2, train, test)

#With Catgeorical Features
model2 = lgb.train(params, d_train, categorical_feature = train_categorical)
#auc2(model2, train, test)

Fitting 3 folds for each of 27 candidates, totalling 81 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done  81 out of  81 | elapsed:  3.1min finished

In [55]:
y_pred_lgbm = model2.predict(X_test3)

In [57]:
#xgboost
import xgboost as xgb
from sklearn import metrics

In [58]:
df_train3 = train
df_test3 = test

In [68]:
#train
label_encoder = preprocessing.LabelEncoder()
for col in train_categorical:
    df_train3[col] = label_encoder.fit_transform(df_train3[col].astype(str))
for col in test_categorical:
    df_test3[col] = label_encoder.fit_transform(df_test3[col].astype(str))

#split training data set
X_train3 = df_train3.drop(['bank_account'], axis=1)
y_train3 = df_train3.bank_account

#split test dataset
X_test3 = test

In [69]:
# Parameter Tuning
model = xgb.XGBClassifier()
param_dist = {"max_depth": [10,30,50],
              "min_child_weight" : [1,3,6],
              "n_estimators": [200],
              "learning_rate": [0.05, 0.1,0.16],}
grid_search = GridSearchCV(model, param_grid=param_dist, cv = 3, 
                                   verbose=10, n_jobs=-1)
grid_search.fit(X_train3, y_train3)

grid_search.best_estimator_

model = xgb.XGBClassifier(max_depth=50, min_child_weight=1,  n_estimators=200,\
                          n_jobs=-1 , verbose=1,learning_rate=0.16)
model.fit(X_train3,y_train3)

Fitting 3 folds for each of 27 candidates, totalling 81 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done  81 out of  81 | elapsed:  6.8min finished

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.16, max_delta_step=0, max_depth=50,
              min_child_weight=1, missing=None, n_estimators=200, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbose=1, verbosity=1)

In [71]:
y_pred_xgb = model.predict(X_test3)